In [1]:
import pandas as pd
import numpy as np
import mysql.connector as conn

In [2]:
db = conn.connect(
    host = 'localhost',
    user = 'root',
    password = 'Jayesh@91'
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F010332C50>

# Create DataBase

In [3]:
mycursor = db.cursor()
mycursor.execute('drop database if exists school')
mycursor.execute('create database school')
db.commit()

In [4]:
mycursor = db.cursor()
mycursor.execute('show databases')
for i in mycursor:
    print(i)

('collage',)
('demodb',)
('ecom',)
('ecommerce',)
('information_schema',)
('jay',)
('learning',)
('movie',)
('mydata',)
('mysql',)
('performance_schema',)
('pizzahut',)
('practice',)
('sakila',)
('school',)
('sys',)
('world',)

# Create Table

In [5]:
mycursor.execute('use school')

In [6]:
mycursor.execute('drop table if exists student')
mycursor.execute('create table student(id int primary key,name varchar(20))')
db.commit()

In [7]:
mycursor.execute('show tables')
for i in mycursor:
    print(i)

('student',)

In [8]:
# add column through Alter 
mycursor.execute('alter table student add column age int')
db.commit()

# Insert Into Tables

In [9]:
sql = 'insert into student(id,name,age) values(%s,%s,%s)'
val = [
(1, 'Joy', 18),
(2, 'Alice', 22),
(3, 'Bob', 25),
(4, 'Charlie', 30),
(5, 'David', 19),
(6, 'Eve', 24),
(7, 'Frank', 28),
(8, 'Grace', 21),
(9, 'Hannah', 27),
(10, 'Ivan', 23)
]
mycursor.executemany(sql,val)
db.commit()

In [10]:
print(mycursor.rowcount)

10

# Select

In [11]:
mycursor.execute('select * from student')
records = mycursor.fetchall()
for i in records:
    print(i)

(1, 'Joy', 18)
(2, 'Alice', 22)
(3, 'Bob', 25)
(4, 'Charlie', 30)
(5, 'David', 19)
(6, 'Eve', 24)
(7, 'Frank', 28)
(8, 'Grace', 21)
(9, 'Hannah', 27)
(10, 'Ivan', 23)

In [12]:
mycursor.execute('select name,age from student')
records = mycursor.fetchall()
for i in records:
    print(i)

('Joy', 18)
('Alice', 22)
('Bob', 25)
('Charlie', 30)
('David', 19)
('Eve', 24)
('Frank', 28)
('Grace', 21)
('Hannah', 27)
('Ivan', 23)

In [13]:
mycursor.execute("SELECT * FROM student")
myresult = mycursor.fetchone()
print(myresult)

(1, 'Joy', 18)

# Where

In [14]:
db = conn.connect(
    host = 'localhost',
    user = 'root',
    password = 'Jayesh@91'
)
mycursor = db.cursor()

mycursor.execute('use school')

mycursor.execute('select * from student where name = "Eve"')
records = mycursor.fetchall()
for i in records:
    print(i)

(6, 'Eve', 24)

In [15]:
mycursor.execute('select * from student where name like "%e"')
records = mycursor.fetchall()
for i in records:
    print(i)

(2, 'Alice', 22)
(4, 'Charlie', 30)
(6, 'Eve', 24)
(8, 'Grace', 21)

In [16]:
mycursor.execute('select name,id from student where age > 20 and age < 25  order by name desc')
records = mycursor.fetchall()
for i in records:
    print(i)

('Ivan', 10)
('Grace', 8)
('Eve', 6)
('Alice', 2)

# Order By

In [17]:
db = conn.connect(
    host = 'localhost',
    user = 'root',
    password = 'Jayesh@91'
)
mycursor = db.cursor()

mycursor.execute('use school')

mycursor.execute('select * from student order by name')
records = mycursor.fetchall()
for i in records:
    print(i)

(2, 'Alice', 22)
(3, 'Bob', 25)
(4, 'Charlie', 30)
(5, 'David', 19)
(6, 'Eve', 24)
(7, 'Frank', 28)
(8, 'Grace', 21)
(9, 'Hannah', 27)
(10, 'Ivan', 23)
(1, 'Joy', 18)

In [18]:
mycursor.execute('select * from student order by id desc')
records = mycursor.fetchall()
for i in records:
    print(i)

(10, 'Ivan', 23)
(9, 'Hannah', 27)
(8, 'Grace', 21)
(7, 'Frank', 28)
(6, 'Eve', 24)
(5, 'David', 19)
(4, 'Charlie', 30)
(3, 'Bob', 25)
(2, 'Alice', 22)
(1, 'Joy', 18)

# Delete

In [19]:
mycursor.execute('delete from student where name = "Bob"')
db.commit()

In [20]:
print(mycursor.rowcount , 'Record deleted')

1 Record deleted

In [21]:
mycursor.execute('delete from student where id > 9 ')
db.commit()

# Update

In [22]:
mycursor.execute('update student set name="Jay" where id =4 ')
db.commit()

# Limit

In [23]:
mycursor.execute("SELECT * FROM student LIMIT 3")
records = mycursor.fetchall()
for i in records:
    print(i)

(1, 'Joy', 18)
(2, 'Alice', 22)
(4, 'Jay', 30)